{
  "env": {
    "browser": true
  },
  "plugins": [
    "angular"
  ],
  "globals": {
    "_": false,
    "angular": false
  },
  "rules": {
    /**
        Configuring Rules
        ESLint comes with a large number of rules. You can modify which rules your project uses either using configuration comments or configuration files. To change a rule setting, you must set the rule ID equal to one of these values:

        0 - turn the rule off
        1 - turn the rule on as a warning (doesn't affect exit code)
        2 - turn the rule on as an error (exit code is 1 when triggered)

        Rules list :  http://eslint.org/docs/rules/
    **/

    "camelcase": 2,
    "curly": 1,
    "eqeqeq": 0,
    "no-bitwise": 2,
    "no-caller": 2,
    "no-console": 1,
    "no-debugger": 2,
    "no-multi-spaces": 0,
    "no-use-before-define": 0,
    "strict": [2, "function"],
    "quotes": [2, "single"],

    // AngularJS Rules
    // See : https://www.npmjs.com/package/eslint-plugin-angular#rules
    "angular/controller-as": 0,
    "angular/controller-as-route": 0,
    "angular/definedundefined": 0,
    "angular/empty-controller": 1,
    "angular/no-service-method": 0,
    "angular/on-watch": 0

  }
}
