mail {
  float: left;
  background-color: $color-neutral;
  height: 100vh;
  width: 70vw;
  overflow: scroll;

  #titre-mail {
    padding: 10px;
    border-bottom: 1px solid $color-default;
  }

  #details-mail {
    padding: 10px;
    border-bottom: 1px solid $color-default;
  }

  #date-creation {
    float: right;
  }

  #body {
    padding: 10px;
    text-align: justify;
  }

  #back-to-list-button {
    display: none;
  }

  @media screen and (max-width: 1365px), screen and (max-device-vidth: 1365px) {
    float: right;
    width: 80vw;

    #titre-mail {
      font-size : 20px;
    }

    #details-mail {
      font-size: 16px;
    }

    #body, #date-creation{
      font-size : 14px;
    }

    #back-to-list-button {
      display: block;
      margin: auto;
      font-size: 13px;
    }

    .glyph {
      float : left;
      margin: 0 2px;
    }
  }
}

.lecture-desactive #back-to-list-button {
  display: none;
}
