$color-primary-dark: #397615;
$color-primary: #cae4b8;
$color-primary-light: #cae4b8;
$color-primary-lighter: #f1f8ec;

$color-secondary: #bada2e;

$color-default-darker: #333333;
$color-default-dark : #666666;
$color-default : #a6a6a6;
$color-default-light : #e5e5e5;
$color-default-lighter : #f8f8f8;

$color-neutral : #ffffff;
$color-black : #000000;

$color-text : #333333;
$color-warning : #fae800;
$color-warning-light : #fffccf;
$color-danger : #ed1c24;
$color-success : #72bf44;
