<h3 class="titre-desktop align-center">Inbox(14 unread)</h3>
<h3 class="titre-mobile align-center">Inbox</h3>

<div id="mails">
  <div class="mail" ng-repeat="mail in mlc.mails | filter : mlc.nomCategorieSelectionnee" ng-click="mlc.lireMail(mail)">
    <div>
      <span ng-style="{'background-color' : mail.codeCouleur}" class="carre"></span>
      <span class="strong">{{mail.owner}}</span>
      <span class="mail-date">{{mail.created_at}}</span></div>
    <div>{{mail.title}}</div>
    <!--<div>{{mail.body}}</div>-->
  </div>
</div>
